.well-ksp {
    background-color: #556B2F;
    color: #ffffff;
}

body {
    position: relative;
}

.affix {
    top: 20px;
    z-index: 9999 !important;
}

@media screen and (max-width: 1170px) {
    #section1, #section2, #section3, #section41, #section42  {
        margin-left: 0px;
    }
}